<div class="col-lg-12">
    <div class="pod_box">
        <div class="text_side">
            <h3 class="yellow">
                <%= products.name %>
            </h3>
            <p>
                <%- products.description %>
            </p>
            <div class="row">
                <div class="col-lg-6">
                    <p>Характеристики устройства:</p>
                    <ul class="nav character">
                        <li><span>800</span>puffs</li>
                        <li><span>3,2</span>ml</li>
                        <li><span>5%</span>salt nic</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <p class="price_title">Стоимость:</p>
                    <p class="pod_box__price"><span>
                            <%= products.salePrice %>
                        </span>MXN</p>
                    <a href="#" class="button_custom js-to-cart" class="btn products-item__btn  js-to-cart"
                        data-id="<%= products.id %>"
                        data-name="<%= products.name.replace('[F]','').replace('[M]','') %>"
                        data-price="<%= parseInt(Number(products.salePrice)) %>"
                        data-sale-price="<%= parseInt(Number(products.recommendedSalePrice)) %>" data-info=""
                        data-value="" data-count="1">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>